/* set color schemes */
:root {
 --light-accent:#0074d9;
 --light-background:#fffffe;
 --light-text: rgb(41, 41, 41);
 --light-link: rgb(117, 117, 117);
 --light-title: rgb(6 6 6);
 
 --dark-accent:#ff8b26;
 --dark-background:#000001;
 --dark-text:#d6d6d6;
 --dark-link: #8a8a8a;
 --dark-title: #f9f9f9;
}



:root {
 --accent: var(--light-accent);
 --background: var(--light-background);
 --color: var(--light-text);
 --link: var(--light-link);
 --title: var(--light-title);
}

@media (prefers-color-scheme: dark) {
:root {
 --accent: var(--dark-accent);
 --background: var(--dark-background);
 --color: var(--dark-text);
 --link: var(--dark-link);
 --title: var(--dark-title);
}
}

:root[data-theme="light"] {
 --accent: var(--light-accent);
 --background: var(--light-background);
 --color: var(--light-text);
 --link: var(--light-link);
 --title: var(--light-title);
}
:root[data-theme="dark"] {
 --accent: var(--dark-accent);
 --background: var(--dark-background);
 --color: var(--dark-text);
 --link: var(--dark-link);
 --title: var(--dark-title);
}
